.command-line {
  color: black;
  background: white;
  overflow: auto;
  padding: 0px;
  height: 100%;
  border: none;
}

.command-line pre {
  border-radius: 0px;
  color: white;
  height: 100%;
  margin: 0px;
  background-color: black;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.23);
}

.generator-selection {
  padding-top: 20px;
}

.generator-questions {
  padding: 0px;
  height: 100%;
  min-height: 100%;
}

body, html {
  min-height: 100%;
  height: 100%;
  /*
        font-family: 'Open Sans', sans-serif;*/
}

.generator-question-prompts {
  overflow: auto;
  padding: 0px;
  background-color: #4CAF50;
  color: white;
}

.command-line pre::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #000000;
}

.command-line pre::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.16);
}

.command-line pre::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}

.generator-question-prompt {
  /*border-left: 4px solid #4CAF50;
  background-color: rgba(76, 175, 80, 0.05);*/
  padding-bottom: 5px;
  padding-top: 5px;
}

.generator-question-prompt-disabled {
  /*border-left: 4px solid #e1e1e1;
  background-color: rgba(238, 238, 238, 0.31);
  padding-bottom: 5px;
  padding-top: 5px;*/
}

.generator-question-prompt label {
  font-size: 12px;
}

.prompt-actions-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.generator-question-prompts-header {
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0px 1px 1px 1px rgba(158, 158, 158, 0.12);
  padding: 10px;
  font-size: 20px;
  color: white;
}

@media (min-width: 768px) {
  .generator-question-prompts {
    height: 100%;
  }

  .command-line {
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .generator-question-prompts {
    width: 500px;
  }

  .command-line {
    width: calc(100% - 500px);
  }
}

/**
#########################################################
Extracted from https://www.bootply.com/128062

TODO remove and add font awesome
#########################################################
 */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/**
#########################################################
 */
